.nav, .nav-left, .nav-right {
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin: 15px;
    margin-left: 0px;
    margin-right:0px;
    width: 100%;
    height: 60px;
}

.nav {
    justify-content: space-between;   
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    width: auto;

    justify-content: end;
}

.material-icons{
    color: rgb(255, 61, 0);
}

div.label {
    width:100px;
    height: 42px;
    font-size: 14px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
}

#start, #start2, .reset, .reset2, .about {   
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #111111;
    margin: 15px 10px;
}

#start:focus, #start2, .reset:focus, .reset2:focus{
    outline: none;
}

#start, #start2, .reset, .reset2{
    background-color: #d3d3d3;
    border: none;
    border-radius: 16px;
    width: 70px;
    height: 36px;
}

#start2, #start {
    background-color: #E60023;
    color: #fff;
}

.play-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select {
    height: 36px;
    border-radius: 10px;
    background-color: #efefef;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 6px;
    text-align: center;
    margin: 0 10px;
    border: none;
    box-shadow: 0 0 4pt 4pt #4a8ad4;
    option {
        text-align: center;
    }
}


select:focus {
    outline: none;
}

.select {
    display: flex;
    flex-direction: row;
}

i.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 10px;
}

i.fa.fa-github {
    color: black;
}

#angellist {
    color: white;
    background-color: #111111;
    border-radius: 8px;
}

#profile, #github {
    color: #676767;
    text-decoration: none;
}

i.fa-linkedin{
    border-radius: 10px;
    background-color: #0A66c2;
    color: white;
}

.fa-rocket {
    color: red;
    margin-right: 0px;
}

#logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 20px 0;
    margin-right: 5px;
    color: red;
}

.location {
    width: 20px;
    height: 20px;
}

#note {
    margin: 0;
    color: #E60023;
}

h3#header {
    margin-top: 0;
}

@media only screen and (max-width: 910px) {
    div.label {
        display: none;
    }
}